[submodule "bowdpr"]
	path = bowdpr
	url = https://github.com/ma787639046/bowdpr.git
	branch = main
[submodule "tdro"]
	path = tdro
	url = https://github.com/ma787639046/tdro.git
	branch = main
[submodule "lightretriever"]
	path = lightretriever
	url = https://github.com/caskcsg/lightretriever.git
	branch = main
